In [21]:
#! pip install -U deep-translator

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting deep-translator
  Downloading deep_translator-1.11.4-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.3/42.3 KB 905.2 kB/s eta 0:00:00 0:00:01
Collecting beautifulsoup4<5.0.0,>=4.9.1
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.0/143.0 KB 2.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: requests<3.0.0,>=2.23.0 in ./.venv/lib/python3.10/site-packages (from deep-translator) (2.31.0)
Collecting soupsieve>1.2
  Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2023.11.17)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.1.0)
Installing collected packages: soupsieve, beautifulsoup4, deep-translator
Successfully installed beautifulsoup4-4.12.2 deep-translator-1.11.4 soupsieve-2.5

In [1]:
from deep_translator import GoogleTranslator
#GoogleTranslator(source='auto', target='ru').translate("คณะนิติศาสตร์")
#GoogleTranslator(source='auto', target='ru').translate("คณะรัฐศาสตร์")
#GoogleTranslator(source='auto', target='ru').translate("İletişim Fakültesi")
#GoogleTranslator(source='auto', target='ru').translate("Sciences كلية العلوم")
#GoogleTranslator(source='auto', target='ru').translate("Институт промышленной инженерии им. А. Буркитбаева (Институт машиностроения)")
#GoogleTranslator(source='auto', target='ru').translate("Факултет Бизнес и мениджмънт")
#GoogleTranslator(source='auto', target='ru').translate("汽车与交通工程学院")
#GoogleTranslator(source='auto', target='ru').translate("管理系 (Department of Management)") #'Департамент менеджмента'
#GoogleTranslator(source='auto', target='ru').translate('"  Arts, Humanities and Social Sciences "') #«Искусство, гуманитарные и социальные науки»
GoogleTranslator(source='auto', target='ru').translate("Sciences de l'éducation العلوم التربوية,")

'Науки об образовании'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('faculty.csv', delimiter = ',', low_memory=False)

In [4]:
df

                                            faculty_name  record_id
0                                  Юридический факультет      61006
1                                Экономический факультет      59426
2                Факультет биоинженерии и биоинформатики      22719
3                                Биологический факультет      21796
4                                   Высшая школа бизнеса      17360
...                                                  ...        ...
48860     Jay S. Sidhu School of Business and Leadership          1
48861                    Jaringan Telekomunikasi Digital          1
48862                                        Japonistyka          1
48863  James L. And Dorothy H. Dewar College of Educa...          1
48864     흉부외과학강좌 (Department of Cardiothoracic Surgery)          1

[48865 rows x 2 columns]

In [5]:
df['faculty_name_fixed'] = df['faculty_name'].str.replace(r'\(.*\)', ' ',regex=True).str.replace(r'«.»', ' ',regex=True).str.replace(r'("|«|»)', ' ',regex=True).str.replace(r'\s{2,}', ' ',regex=True).str.strip()

In [25]:
df.nunique()

faculty_name          48865
record_id              1026
faculty_name_fixed    44095
dtype: int64

In [26]:
df

,faculty_name,record_id,faculty_name_fixed
0,Юридический факультет,61006,Юридический факультет
1,Экономический факультет,59426,Экономический факультет
2,Факультет биоинженерии и биоинформатики,22719,Факультет биоинженерии и биоинформатики
3,Биологический факультет,21796,Биологический факультет
4,Высшая школа бизнеса,17360,Высшая школа бизнеса
...,...,...,...
48860,Jay S. Sidhu School of Business and Leadership,1,Jay S. Sidhu School of Business and Leadership
48861,Jaringan Telekomunikasi Digital,1,Jaringan Telekomunikasi Digital
48862,Japonistyka,1,Japonistyka
48863,James L. And Dorothy H. Dewar College of Educa...,1,James L. And Dorothy H. Dewar College of Educa...
48864,흉부외과학강좌 (Department of Cardiothoracic Surgery),1,흉부외과학강좌

In [27]:
df.to_csv('faculty_fixed.csv', sep = ',', index=False)

In [7]:
df1= pd.DataFrame(df['faculty_name_fixed'].unique()).rename(columns={0:'faculty_name_fixed'})

In [8]:
df1

                                      faculty_name_fixed
0                                  Юридический факультет
1                                Экономический факультет
2                Факультет биоинженерии и биоинформатики
3                                Биологический факультет
4                                   Высшая школа бизнеса
...                                                  ...
44090     Jay S. Sidhu School of Business and Leadership
44091                    Jaringan Telekomunikasi Digital
44092                                        Japonistyka
44093  James L. And Dorothy H. Dewar College of Educa...
44094                                            흉부외과학강좌

[44095 rows x 1 columns]

In [9]:
df1.iloc[0,0]

'Юридический факультет'

In [10]:
prev_transl_df = pd.read_csv('faculty_fixed_translated.csv', delimiter = ',', low_memory=False)

In [11]:
prev_transl_df

,faculty_name_fixed,faculty_name_ru,is_different
0,Юридический факультет,Юридический факультет,0.0
1,Экономический факультет,Экономический факультет,0.0
2,Факультет биоинженерии и биоинформатики,Факультет биоинженерии и биоинформатики,0.0
3,Биологический факультет,Биологический факультет,0.0
4,Лечебный факультет,Лечебный факультет,0.0
...,...,...,...
42353,Japonistyka,японоведение,1.0
42354,James L. And Dorothy H. Dewar College of Educa...,Педагогический колледж Джеймса Л. и Дороти Х. ...,1.0
42355,Jain Culture,Джайнская культура,1.0
42356,Jacobs School of Music,Музыкальная школа Джейкобса,1.0
42357,흉부외과학강좌,Лекция по торакальной хирургии,1.0

In [12]:
prev_transl_df.set_index('faculty_name_fixed', inplace=True)

In [13]:
prev_transl_df

,faculty_name_ru,is_different
faculty_name_fixed,,
Юридический факультет,Юридический факультет,0.0
Экономический факультет,Экономический факультет,0.0
Факультет биоинженерии и биоинформатики,Факультет биоинженерии и биоинформатики,0.0
Биологический факультет,Биологический факультет,0.0
Лечебный факультет,Лечебный факультет,0.0
...,...,...
Japonistyka,японоведение,1.0
James L. And Dorothy H. Dewar College of Education,Педагогический колледж Джеймса Л. и Дороти Х. ...,1.0
Jain Culture,Джайнская культура,1.0
Jacobs School of Music,Музыкальная школа Джейкобса,1.0
흉부외과학강좌,Лекция по торакальной хирургии,1.0

In [14]:
joined_df = df1.join(prev_transl_df, on='faculty_name_fixed', how='left')
#df1 = df1.join(df_comments_summary, on='Ticket key', how='left')

In [15]:
joined_df

,faculty_name_fixed,faculty_name_ru,is_different
0,Юридический факультет,Юридический факультет,0.0
1,Экономический факультет,Экономический факультет,0.0
2,Факультет биоинженерии и биоинформатики,Факультет биоинженерии и биоинформатики,0.0
3,Биологический факультет,Биологический факультет,0.0
4,Высшая школа бизнеса,Высшая школа бизнеса,0.0
...,...,...,...
44090,Jay S. Sidhu School of Business and Leadership,Школа бизнеса и лидерства Джея С. Сидху,1.0
44091,Jaringan Telekomunikasi Digital,NaN,NaN
44092,Japonistyka,японоведение,1.0
44093,James L. And Dorothy H. Dewar College of Educa...,Педагогический колледж Джеймса Л. и Дороти Х. ...,1.0
44094,흉부외과학강좌,Лекция по торакальной хирургии,1.0

In [16]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44095 entries, 0 to 44094
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   faculty_name_fixed  44095 non-null  object
 1   faculty_name_ru     42358 non-null  object
 2   is_different        42358 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.0+ MB

In [17]:
joined_df['faculty_name_ru'].isna().sum()

1737

In [18]:
lines2translate = list(joined_df[joined_df['faculty_name_ru'].isna()].index)

In [19]:

# 259m52s for 41187 rows (2.64 per second)
#df1 = pd.DataFrame(columns = ['faculty_name','cnt', 'faculty_name_fixed','faculty_name_ru', 'is_different'])
#df2 = pd.DataFrame(columns = ['faculty_name_fixed','faculty_name_ru', 'is_different'])

for cnt, i in enumerate(lines2translate):
#    f_name = df.loc[i,'faculty_name']
#    cnt = df.loc[i,'record_id']
    f_name_fixed = joined_df.loc[i,'faculty_name_fixed']
    f_name_ru = GoogleTranslator(source='auto', target='ru').translate(f_name_fixed)
    is_different = int(f_name_fixed != f_name_ru)
    
    joined_df.loc[i,'faculty_name_ru'] = f_name_ru
    joined_df.loc[i,'is_different'] = is_different
#    df2.loc[len(df2)] = [f_name_fixed, f_name_ru, is_different]
    if cnt % 1000 ==0:
        print(cnt)

0
1000

In [20]:
joined_df

,faculty_name_fixed,faculty_name_ru,is_different
0,Юридический факультет,Юридический факультет,0.0
1,Экономический факультет,Экономический факультет,0.0
2,Факультет биоинженерии и биоинформатики,Факультет биоинженерии и биоинформатики,0.0
3,Биологический факультет,Биологический факультет,0.0
4,Высшая школа бизнеса,Высшая школа бизнеса,0.0
...,...,...,...
44090,Jay S. Sidhu School of Business and Leadership,Школа бизнеса и лидерства Джея С. Сидху,1.0
44091,Jaringan Telekomunikasi Digital,Цифровая телекоммуникационная сеть,1.0
44092,Japonistyka,японоведение,1.0
44093,James L. And Dorothy H. Dewar College of Educa...,Педагогический колледж Джеймса Л. и Дороти Х. ...,1.0
44094,흉부외과학강좌,Лекция по торакальной хирургии,1.0

In [21]:
joined_df['faculty_name_ru'].isna().sum()

0

In [22]:
joined_df.nunique()

faculty_name_fixed    44095
faculty_name_ru       33459
is_different              2
dtype: int64

In [23]:

joined_df.to_csv('faculty_fixed_translated.csv', sep = ',', index=False)

In [24]:
joined_df[(joined_df['is_different']==1)].tail(30)

,faculty_name_fixed,faculty_name_ru,is_different
44064,Islamic Study,Исламское исследование,1.0
44065,Islamic Studies الدراسات الإسلامية في قطر,Исламоведение Исламоведение в Катаре,1.0
44066,Islamic Studies College,Колледж исламских исследований,1.0
44067,Islamic Sciences and Researches,Исламские науки и исследования,1.0
44068,Islamic Ideology,Исламская идеология,1.0
44070,Islamic & Arabic Studies,Исламские и арабские исследования,1.0
44071,Islamiat & Pakistan Studies,Исламиат и пакистанские исследования,1.0
44072,Jacobs Center for Lifelong Learning and Instit...,Центр непрерывного обучения и институционально...,1.0
44073,Jacobs School of Engineering,Инженерная школа Джейкобса,1.0
44074,Jacobs School of Music,Музыкальная школа Джейкобса,1.0
44075,Jefferson College of Graduate Studies,Джефферсонский колледж последипломного образов...,1.0
44076,John W. Rawlings School of Divinity,Школа богословия Джона В. Роулингса,1.0
44077,John Massey School of Business,Школа бизнеса Джона Мэсси,1.0
44078,John L. Grove College of Business,Колледж бизнеса Джона Л. Гроува,1.0
44079,John Glenn College of Public Affairs,Колледж по связям с общественностью Джона Гленна,1.0
44080,Jogi asszisztens,Помощник по правовым вопросам,1.0
44081,Jewelry and Metals,Ювелирные изделия и металлы,1.0
44082,Jewelry Design,Ювелирный Дизайн,1.0
44083,Jet Propulsion Laboratory,Лаборатория реактивного движения,1.0
44084,Jazzmuziek,Джаз,1.0
44085,Jain Culture,Джайнская культура,1.0
44086,Jazz-Komposition,Джазовая композиция,1.0
44087,Jazz und Pop,Джаз и поп,1.0
44088,Jazz et musiques improvisées,Джаз и импровизационная музыка,1.0
44089,Jazz / Pop,Джаз / Поп,1.0
44090,Jay S. Sidhu School of Business and Leadership,Школа бизнеса и лидерства Джея С. Сидху,1.0
44091,Jaringan Telekomunikasi Digital,Цифровая телекоммуникационная сеть,1.0
44092,Japonistyka,японоведение,1.0
44093,James L. And Dorothy H. Dewar College of Educa...,Педагогический колледж Джеймса Л. и Дороти Х. ...,1.0
44094,흉부외과학강좌,Лекция по торакальной хирургии,1.0

# translated to raw

In [60]:
vk_df = pd.read_csv('h_raw_data.csv', delimiter = ',', low_memory=False)

In [61]:
vk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2042518 entries, 0 to 2042517
Data columns (total 22 columns):
 #   Column            Dtype
---  ------            -----
 0   record_id         object
 1   time_created      object
 2   time_updated      object
 3   meta_data         float64
 4   page_number       int64
 5   deactivated       object
 6   country_id        int64
 7   country_title     object
 8   city_id           int64
 9   city_title        object
 10  about             object
 11  activities        object
 12  books             object
 13  games             object
 14  interests         object
 15  education_form    object
 16  education_status  object
 17  university_id     int64
 18  university_name   object
 19  faculty_id        int64
 20  faculty_name      object
 21  graduation_year   int64
dtypes: float64(1), int64(6), object(15)
memory usage: 342.8+ MB

In [62]:
vk_df['faculty_name_fixed'] = vk_df['faculty_name'].str.replace(r'\(.*\)', ' ',regex=True).str.replace(r'«.»', ' ',regex=True).str.replace(r'("|«|»)', ' ',regex=True).str.replace(r'\s{2,}', ' ',regex=True).str.strip()

In [63]:
tmp2 = joined_df.copy().set_index('faculty_name_fixed')
tmp2

,faculty_name_ru,is_different
faculty_name_fixed,,
Юридический факультет,Юридический факультет,0.0
Экономический факультет,Экономический факультет,0.0
Факультет биоинженерии и биоинформатики,Факультет биоинженерии и биоинформатики,0.0
Биологический факультет,Биологический факультет,0.0
Лечебный факультет,Лечебный факультет,0.0
...,...,...
Japonistyka,японоведение,1.0
James L. And Dorothy H. Dewar College of Education,Педагогический колледж Джеймса Л. и Дороти Х. ...,1.0
Jain Culture,Джайнская культура,1.0
Jacobs School of Music,Музыкальная школа Джейкобса,1.0
흉부외과학강좌,Лекция по торакальной хирургии,1.0

In [64]:
tmp2 = vk_df.join(tmp2, on='faculty_name_fixed', how='left')

In [65]:
tmp2

,record_id,time_created,time_updated,meta_data,page_number,deactivated,country_id,country_title,city_id,city_title,...,education_form,education_status,university_id,university_name,faculty_id,faculty_name,graduation_year,faculty_name_fixed,faculty_name_ru,is_different
0,668cde9a-4768-40b6-bdaf-2085e64ace61,2023-11-30 12:09:51.779302,2023-11-30 12:09:51.779303,NaN,698420,NaN,1,Россия,1,Москва,...,Очно-заочное отделение,NaN,667,НГАСУ Сибстрин,2151761,"Факультет экономики, менеджмента и гуманитарно...",2008,"Факультет экономики, менеджмента и гуманитарно...","Факультет экономики, менеджмента и гуманитарно...",0.0
1,a1d20c69-fee7-4eb2-b50c-937ca19ab4ab,2023-11-30 12:09:51.779327,2023-11-30 12:09:51.779327,NaN,698420,NaN,1,Россия,72,Краснодар,...,Заочное отделение,NaN,573,КубГТУ,2124594,Институт пищевой и перерабатывающей промышленн...,2007,Институт пищевой и перерабатывающей промышленн...,Институт пищевой и перерабатывающей промышленн...,0.0
2,3803790b-f331-4d00-84ec-858dba0d2156,2023-11-30 12:09:51.779491,2023-11-30 12:09:51.779492,NaN,698420,NaN,191,Таиланд,3684507,Uttaradit,...,NaN,NaN,1041679,มหาวิทยาลัยราชภัฏอุตรดิตถ์ (Uttaradit Rajabhat...,1969410,คณะเทคโนโลยีอุตสาหกรรม,0,คณะเทคโนโลยีอุตสาหกรรม,Факультет промышленных технологий,1.0
3,3d5afc07-f754-4087-9507-ee123a7f4479,2023-11-30 12:09:51.779748,2023-11-30 12:09:51.779749,NaN,698420,NaN,200,Турция,2722454,Adana,...,NaN,NaN,1174733,Adana Bilim ve Teknoloji Üniversitesi,2173467,İşletme Fakültesi,0,İşletme Fakültesi,Факультет менеджмента,1.0
4,001cddd4-f133-45d7-a535-1f5d96e2393d,2023-11-30 12:09:51.779981,2023-11-30 12:09:51.779982,NaN,698420,NaN,43,Бразилия,4654851,Belo Horizonte,...,Очное отделение,NaN,806550,Faculdade Promove de Minas Gerais (FPMG),1694201,Direito,2025,Direito,Верно,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2042513,8c699f20-d3ce-432a-aa3f-9154e3d0db3d,2023-11-30 12:09:51.777102,2023-11-30 12:09:51.777102,NaN,698420,NaN,19,Австралия,823,Brisbane,...,NaN,NaN,531269,NaN,943008,"Faculty of Business, Economics and Law",0,"Faculty of Business, Economics and Law","Факультет бизнеса, экономики и права",1.0
2042514,5a5124e9-f57a-4017-8579-749b3f0c66f7,2023-11-30 12:09:51.777427,2023-11-30 12:09:51.777428,NaN,698420,NaN,11,Кыргызстан,204,Бишкек,...,Заочное отделение,NaN,98291,КНУ им. Ж. Баласагына,44047,Экономический факультет (бывш. Институт эконом...,2016,Экономический факультет,Экономический факультет,0.0
2042515,ca14242a-bf85-439e-9acd-e90c5a7b3c3d,2023-11-30 12:09:51.777984,2023-11-30 12:09:51.777985,NaN,698420,NaN,206,Филиппины,3741617,Pateros,...,NaN,NaN,961339,NaN,1933308,Computer Science,0,Computer Science,Информатика,1.0
2042516,5ef5c967-1e4b-42ec-bfdb-54468554ce2c,2023-11-30 12:09:51.77835,2023-11-30 12:09:51.778351,NaN,698420,NaN,1,Россия,1,Москва,...,NaN,NaN,2,МГУ,20,Факультет биоинженерии и биоинформатики,0,Факультет биоинженерии и биоинформатики,Факультет биоинженерии и биоинформатики,0.0
2042517,ccc2bfa9-daaf-417d-98a8-684db6372e28,2023-11-30 12:09:51.778817,2023-11-30 12:09:51.778817,NaN,698420,NaN,1,Россия,153,Хабаровск,...,Заочное отделение,NaN,5329,ХИИК (филиал) СибГУТИ,2269615,Инфокоммуникационные технологии и системы связи,2017,Инфокоммуникационные технологии и системы связи,Инфокоммуникационные технологии и системы связи,0.0

In [66]:
tmp2.to_csv('h_raw_data_ru.csv', sep = ',', index=False)